<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:compileSdkVersion="23"
    android:compileSdkVersionCodename="2.0"
    package="zz..Test.com.android"
    platformBuildVersionCode="31"
    platformBuildVersionName="12">
    <application
        android:hasCode="false"
        android:extractNativeLibs="false" />
    <overlay
        android:priority="999"
        android:isStatic="true"
        android:targetPackage="Test.com.android" />
</manifest>
