<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:compileSdkVersion="33"
    android:compileSdkVersionCodename="13"
    package="Zz..Test.com.android"
    platformBuildVersionCode="33"
    platformBuildVersionName="13">
    <application
        android:extractNativeLibs="false" />
    <overlay
        android:priority="998"
        android:targetPackage="Test.com.android"
        android:isStatic="true"
        android:requiredSystemPropertyName="ro.khu.vuc"
        android:requiredSystemPropertyValue="VN" />
</manifest>
